<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>About Page</h1>
		<p>Welcome to my blog website.</p>
		<p>Here you can find anything about me: Linkedin, Github, Email, and my personal blog.</p>
		<p>You can comment everything you want, and I'll try to answer as soon as possible.</p>
	</div>
</div>