<!DOCTYPE html>
<html>
<head>
	<title>Movie</title>
	<title>Sinatra Test</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		button, form input{
			width: 300px;
			height: 50px;
			font-size: 25px;
			margin-top: 20px;
			text-align: center;			
		}
		body{
			background-color: black;
			text-align: center;
			padding-top: 100px;
		}
		h1{
			color: yellow;
			font-size: 60px;
		}
	</style>
</head>
<body>
	<h1 class="text-center">Search a Movie:</h1>
	<br>
	<form action='results' method='POST' id='form1'>
		<p><input type='text' name='movie' /></p>
	</form>
	<br>
	<button form='form1'>Search</button>
</body>
</html>